    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2>Login</h2>
            <p class="text-primary">Hoy kung may username at password ka na, maglogin ka na dito para makapasok na sa website. Maaring pindutin lamang yung button sa baba nito.</p>
            <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Sign Up</h2>
            <p class="text-primary">Kung wala ka namang account pindutin mo tong button sa ibaba oo yang "Sign up" para gumawa ng account. Bilisan mo</p>
            <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
